.main_content_section .item {
    margin-bottom: 15px;
    height: 395px;
}
.main_content_section .item .card {
    height: 100%;
    overflow: auto;
    border-radius: 5px;
}
.main_content_section .card-text {
    font-size: 14px;
}
.card-body ul {
    padding-left: 20px;
}
.card .img_wrp {
    padding: 10px;
    background-color: #eaeaea;
    margin: 10px;
}
