.main {
  margin-top: 30px;
}

.main .left {
  background-color: #ffffff;
  border-radius: 5px;
}



@media screen and (max-width: 768px) {

  .App .button_section button {
      margin: 10px;
  }


  .App .main_content_section .item {
    height: auto;
  }
  .App .main_content_section .item .img_wrp {
    text-align: center;
  }
  .App .main_content_section .item .card-img-top {
    width: auto;
  }
  
}